@font-face {
    font-family: 'woodland';
    src: url('../ppwoodland-ultralight-webfont.woff2') format('woff2'),
        url('../ppwoodland-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}
 
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 150%;
}


#col1 {
    display: flex;
    flex-direction: column;
    width: 13%;  
}

#wrapperA {
    height: 6%;
    width: 46%;
    padding-top: 6%;
    padding-left: 5%;
    padding-right: 40%;
    display: flex;
    flex-direction: column;
}

p1 {
  text-align: center;
  font-size: 2vh;
  font-family: woodland;
  color: white;
  opacity: 75%;
   
}

p2 {
  text-align: center;
  font-size: 2vh;
  font-family: woodland;
  color: white;
  opacity: 75%;
}


.wrapper1 {
    width: 100%;
    height: 50%;
}


.imagem {
 opacity: 0;
 height: 100%;
}


.imagem img{
    margin-top: -30%;
    height: 130%; 
}

.imagem.show {
    opacity: 1;
}

.wrapper2 {
     width: 100%;
    height: 50%;
}

.imagem2 {
    display: flex;
    opacity: 0;
    height: 99%;
    z-index: 1;
}

.imagem2 img{
    justify-self: flex-end;
    align-self: flex-end;
    height: 75%; 
    margin-left: 5%;
}

.imagem2.show2 {
    opacity: 1;
}

#col2 {
    display: flex;
    flex-direction: column;
    width: 17%;
}

.wrapper3 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.imagem3 {
 opacity: 0;
 height: 99%;
  
}

.imagem3 img{
 height: 110%;
}

.imagem3.show3 {
    opacity: 1;
}

#col3 {
    display: flex;
    flex-direction: column;
    width: 17%; 
}

.wrapper4 {
   width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.imagem4 {
 opacity: 0;
 height: 99%; 
}

.imagem4 img{
 height: 100%;
margin-left: -50%;
}

.imagem4.show4 {
    opacity: 1;
}

.wrapper5 {
   width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.video1 {
 display: none;
    margin-left: -18%;
}

.video1.showvideo1 {
    display: block;
}

p1 {
    font-family: woodland;
    font-size: 2vh;
    color: white;
    margin:0%;
    text-align: justify-all;
}

.wrapper6 {
    width: 195%;
    height: 35%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-left: -145%;
    margin-bottom: 5%;
    z-index: -1;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 3.5em;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: woodland;
    animation: marquee 25s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}

/* Make it move */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

#col4 {
    display: flex;
    flex-direction: column;
    width: 16%;
}

.wrapper7 {
   width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.imagem5 {
 opacity: 0;
 height: 80%; 
}

.imagem5 img{
 height: 290%;
 margin-left: -10%;
}

.imagem5.show5 {
    opacity: 1;
}

.wrapper8 {
   width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 18%;
     padding-top: 1%;
}

.imagem6 {
 opacity: 0;
 height: 100%; 
}

.imagem6 img{
 height: 160%;
 
}

.imagem6.show6 {
    opacity: 1;
}

.wrapper9 {
   width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.imagem7 {
 opacity: 0;
 height: 100%; 
    margin-left: -85%;
}

.imagem7 img{
 height: 100%;
    margin-bottom: 55%;
}

.imagem7.show7 {
    opacity: 1;
}

#col5 {
    display: flex;
    flex-direction: column;
    width: 16%;    
}

.wrapper10 {
   width: 150%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper0 {
    width: 50%;
    margin-left: -155%;
    margin-top: 25%;
}


.texto1 {
     font-family: woodland;
    font-size: 2vh;
    color: white;
    margin:0%;
    text-align: justify-all;
    opacity: 0;
}

.texto1.show9 {
    opacity: 1;
}

.wrapper01 {
    width: 5%;
    height: 100%;
    margin-left: 15%;
}

.imagem8 {
    width: 100%;
    height: 100%;
    opacity: 0;  
}

.imagem8 img{
 height: 100%;
}

.imagem8.show8 {
    opacity: 1;
}

.wrapper11 {
    width: 230%;
    height: 35%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: -22%;
    margin-bottom: 5%;
}



.marquee2 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 2.6em;
    z-index: -1;
}

.marquee2 span {
    display: inline-block;
    padding-left: 100%;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: woodland;
    animation: marquee 25s linear infinite;
}

.marquee2 span:hover {
    animation-play-state: paused;

}


/* Make it move */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.wrapper12 {
   width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.imagem9 {
 opacity: 0;
 height: 100%; 
}

.imagem9 img{
 height: 190%;
    margin-top: -75%;
 
}

.imagem9.show9 {
    opacity: 1;
}

.wrapper13 {
    width: 180%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.video2 {
 display: none;
}

.video2.showvideo2 {
    display: block;
}

.wrapperB {
    height: 20%;
    width: 60%;
    margin-left: 1%;
}

.text2 {
    font-family: woodland;
    font-size: 2vh;
    color: white;
    margin:0%;
    display: none;
}

.text2.showtext2 {
    display: block;
}



#col6 {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    
}

.wrapper14 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.wrapper15{
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.imagem10 {
 opacity: 0;
 height: 100%; 
}

.imagem10 img{
 height: 100%;
    
}

.imagem10.show10 {
    opacity:1;
}

.wrapper16{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.imagem11 {
 opacity: 0;
 height: 100%; 
    
}

.imagem11 img{
 height: 130%;
    
}

.imagem11.show11 {
    opacity:1;
}



.wrapper17 {
    width: 100%;
    height: 50%;
}

.wrapper18 {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imagem12 {
 opacity: 0;
 height: 120%; 
    
}

.imagem12 img{
 height: 100%;
    
}

.imagem12.show12 {
    opacity:1;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   #col1 {
        width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
     #wrapperA {display: none}
    
    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }

}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
   #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
     #wrapperA {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw;
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
body {
         width: 100vw;
        height: 100vh;
    }

}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
    #wrapperA {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw;  
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
    #wrapperA {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw; 
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   #col1 {
        width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
    #wrapperA {display: none}


    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw; 
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}
