@font-face {
    font-family: 'woodland';
    src: url('../ppwoodland-ultralight-webfont.woff2') format('woff2'),
        url('../ppwoodland-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}
 
body {
    margin: 0px;
    padding: 0px;
}

#background {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 200%;
}

#col1 {
     height: 100%; 
    display: flex;
    flex-direction: column;
    width: 19%; 
}

.wrapper1 {
    height: 6%;
    width: 23%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 40%;
    display: flex;
    flex-direction: column;
}

p1 {
  text-align: center;
  font-size: 2vh;
  font-family: woodland;
  color: black;
  opacity: 75%;
   
}

p2 {
  text-align: center;
  font-size: 2vh;
  font-family: woodland;
  color: black;
  opacity: 75%;
}

.wrapper2 {
    margin-top: 2%;
    height: 50%;
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-items: flex-start;
}

#img1 {
    width: 50%;
    visibility:hidden;
}

.button{
    margin-right: -4%;
    width: 34%;
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: white;
    border-radius: 90%;
    filter: blur(9px);  
    outline: 0;
}

.wrapper3 {
    height: 44%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.square1 {
    background-color: black;
    border: none;
    padding: 3.5%;
    transition: all 0.2s ease-in-out;
}

.square1:hover {
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 100);
}


#col2 {
     height: 100%; 
    display: flex;
    flex-direction: column;
    width: 16%; 
}

.wrapper4 {
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.album-pic {
    height: 50%;

}

.album-pic-exit {
    display: none;
    position: absolute;
}

.album-pic:hover + .album-pic-exit {
    display: block;
    animation: fade 2s linear;
}
.album-pic-exit:hover {
    display: block;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.wrapper5 {
    height:15%;
    width: 190%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   
    
}

.marquee1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 2.6em;
     background-image: url(SVG/1.svg) cover;
}

.marquee1 span {
    display: inline-block;
    padding-left: 100%;
    color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: woodland;
    animation: marquee 36s linear infinite;
     z-index: 1;
}

.marquee1 span:hover {
    animation-play-state: paused;

}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

#col3 {
    display: flex;
    flex-direction: column;
    width: 19%; 
   
}

.wrapper6 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.wrapper7 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.square2 {
    background-color: black;
    border: none;
    padding: 16%;
    margin-right: 67%;
    margin-bottom: 10%;
    transition: all 0.2s ease-in-out;
}

.square2:hover {
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 100);
}

.wrapper8 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.album-pic1 {
    height: 83%;
}

.album-pic-exit1 {
    display: none;
    position: absolute;
}

.album-pic1:hover + .album-pic-exit1 {
    display: block;
    animation: fade 2s linear;
}
.album-pic-exit1:hover {
    display: block;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#col4 {
    display: flex;
    flex-direction: column;
    width: 14%; 
}

.wrapper9 {
    width: 215%;
    height: 10%;
   
}

.marquee2 {
    width: 100%;
    margin-left: 35%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 2.6em;
     background-image: url(SVG/1.svg) cover;
}

.marquee2 span {
    display: inline-block;
    padding-left: 100%;
    color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: woodland;
    animation: marquee 36s linear infinite;
     z-index: 1;
}

.marquee2 span:hover {
    animation-play-state: paused;

}

@keyframes marquee {
    100% {
        transform: translate(-100%, 0);
    }

    0% {
        transform: translate(0, 0);
    }
}

.wrapper10 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.album-pic2 {
    height: 68%;
}

.album-pic-exit2 {
    display: none;
    position: absolute;
}

.album-pic2:hover + .album-pic-exit2 {
    display: block;
    animation: fade 2s linear;
}
.album-pic-exit2:hover {
    display: block;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#col5 {
     height: 100%; 
    display: flex;
    flex-direction: row;
    width: 18%; 
}

.wrapper11 {
    height: 100%; 
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.square3 {
    background-color: black;
    border: none;
    padding: 16%;
    margin-left: 69%;
    margin-bottom: 70%;
    transition: all 0.2s ease-in-out;
}

.square3:hover {
    box-shadow: 0px 0px 25px rgb(0, 0, 0, 100);
}

.wrapper12 {
    height: 100%; 
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#img2 {
    margin-right: -10%;
    width: 95%;
    visibility: hidden;
}

.button2{
    margin-right: -50%;
    width: 50%;
    cursor: pointer;
    height: 35%;
    border: none;
    background-color: white;
    border-radius: 90%;
    filter: blur(9px);  
    outline: 0;
}


#col6 {
    height: 100%; 
    display: flex;
    flex-direction: column;
    width: 14%; 
}

.wrapper13 {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.album-pic3 {
    height: 49%;
    margin-right:5%;
}

.album-pic-exit3 {
    display: none;
    position: absolute;
    padding-right: 2%;
    padding-bottom: 0.5%;
}

.album-pic3:hover + .album-pic-exit3{
    display: block;
    padding-right: 2%;
    padding-bottom: 0.5%;
    animation: fade 2s linear;
}
.album-pic-exit3:hover {
    display: block;
    padding-right: 2%;
    padding-bottom: 0.5%;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   #col1 {
        width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}
    
    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }

}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
   #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw;
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
body {
         width: 100vw;
        height: 100vh;
    }

}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw;  
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   #col1 {
       width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw; 
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   #col1 {
        width: 100%;
        height: 100%;
        background: url('web.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .wrapper1 { display: none}
    
    .wrapper3 {display: none}
    
    .wrapper2 {display: none}

    #col2 {
        display: none;
    }

    #col3 {
        display: none;
    }

    #col4 {
        display: none;
    }

    #col5 {
        display: none;
    }
    
    #col6 {
        display: none;
    }

    #background {
      width: 100vw; 
        height: 100vh;
        background-color: black;
    }
    
    #videoBG {
        display: none;
    }
    
    body {
         width: 100vw;
        height: 100vh;
    }
}
